body,
html {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #131515;
  color: white;
  font-family: Avenir;
}

h1 {
  margin-bottom: 0;
}

h1,
h2,
h3,
p,
hr {
  opacity: 0.7;
}

.App {
  margin: 0 auto;
  max-width: 1000px;
  text-align: center;
}

.title {
  margin-bottom: 16px;
}

.main-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-content > div:last-child {
  border-left: 1px solid white;
}

.main-content > div {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  width: 100%;
  /* border: 1px solid lime; */
}

input {
  background-color: black;
  color: white;
}
input:focus {
  outline: none;
}

select {
  background-color: black;
  color: white;
}
